@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );

  --gradient-bar:linear-gradient(315deg, hsla(0, 0%, 0%, 1) 0%, hsla(215, 85%, 21%, 1) 32%, hsla(216, 86%, 19%, 1) 76%, hsla(216, 84%, 15%, 1) 92%);
  
  background: -moz-linear-gradient(315deg, hsla(0, 0%, 0%, 1) 0%, hsla(215, 85%, 21%, 1) 32%, hsla(216, 86%, 19%, 1) 76%, hsla(216, 84%, 15%, 1) 92%);
  
  background: -webkit-linear-gradient(315deg, hsla(0, 0%, 0%, 1) 0%, hsla(215, 85%, 21%, 1) 32%, hsla(216, 86%, 19%, 1) 76%, hsla(216, 84%, 15%, 1) 92%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#082E65", GradientType=1 );
  --color-bg: #040c18;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;
}
