.gpt3__header-section_padding {
    display: flex;
  flex-direction: c;
  justify-content: space-around;
  font-family: var(--font-family);
  width: 100%;
  margin: 0;
}
.mobile__header{
    display:none;
}
.gpt3__header_container {
  display: flex;
  flex:2;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  position: relative;
}
.gpt3__header-content {
  display: flex column;
  flex: 1;
  align-items: center;
  justify-content:center;
  width: 100%;
  height: 100%;
  margin:8rem;
  position: relative;
  z-index: 0;
}
.gpt3__header-content h1 {
  display: flex;
  flex: wrap;
  font-style: normal;
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
  text-align: left;
  overflow: visible;
  align-self: flex-start;
}
.gpt3__header-content p {
  display: flex;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: white;
  margin-right: 0;
  padding: 2rem 0;
  color: var(--color-text);
}
.Ai img{
    max-width:100%;
}
.Ai{
  display: flex;
  flex:1;
  height:100%;
  max-width: 100%;
  justify-content: center;
  align-self: center;
  align-items: center;
  z-index:0;
}
.gpt3__header-ai_photo{
  display: flex;
  z-index:0;
  flex: 1; 
  height:100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.gpt3__header_sign {
  display: flex;
  align-items: center;
}
.gpt3__header_sign button {
  display: flex;
  flex:.6;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #ff4820;
  color: rgb(255, 255, 255);
  border-radius: 0px 5px 5px 0px;
  border: none;
  font-weight: bold;
  font-size: 14px;
  font-family: var(--font-family);
  border: 0;
  outline: none;
  cursor: point;
  height: 50px;
}
input#email {
  background: var(--color-text);
  border-radius: 5px 0px 0px 5px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  padding: 0.5rem 1rem;
  height: 50px;
  width: 80%;
  font-family: var(--font-family);
  display:flex;
  flex:1;
}
::placeholder{
    color: var(--footer-color);
}
.gpt3__header-content__people,
.gpt3__header-content__people p {
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
}
.gpt3__header-content__people p {
    margin-left: 1rem;
}
@media screen and (max-width: 778px) {
    .ai_large{
        display: none;
    }
    .Ai{
        display:flex;
        max-width: 100%;
        flex:1;
        justify-content:center;
        height:100%;
        bottom:0;
    }
    .Header{
        display: none;
    }
    .mobile__header{
        display:flex;
        width: 100%;
    }
  .gpt3__header_container {
    display: flex column;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem .025rem;
    margin:0;
  }
  .gpt3__header-content{
      margin:0;
      padding: 2rem;
  }
  .mobile__header h1{
    display: flex;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -0.04em;
    text-align: left;
    overflow: visible;
  }
  .mobile__header p{
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    margin:0;
  }
  .gpt3__header-content__people,
  .gpt3__header-content__people p {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    padding-top: 2rem;
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .gpt3__header-ai_photo{
    align-self: center;
    position: relative;
    top:10px;
    z-index:0;
  }
  .gpt3__header_sign{
      padding: 1rem;
  }
}
#people {
  display: flex;
  align-self: center;
}
